<template name="footer">
	<!-- Footer -->
	<section id="footer" class="footer-bottom bgtransparent70 p-1">
		<div class="container-fluid text-right text-small">
			<a href="http://www.xlazz.com" class="text-muted" target=_blank>
				&copy;XLazz, 2016-2019 
			</a>
			<a href="https://twitter.com/eXtragLasses" class="text-muted" target=_blank>
				<i class="fa fa-twitter fa-fw"></i> 
			</a>
			<a href="https://www.facebook.com/XLazzA/" class="text-muted" target=_blank>
				<i class="fa fa-facebook fa-fw"></i> 
			</a>
			{{#with env}}
				<span class="badge text-muted">{{srv}} </span>
				<span class="badge text-muted">{{version.complete}} </span>
				{{#if update}}<span class="badge badge-dark pointer updateVersion">Update</span>{{/if}}
			{{/with}}
		</div>
	</section>
</template>