<template name="layoutLanding">

	<span class="statusonline">{{>statusonline}}</span>	

	{{> Template.dynamic template=nav}}
	
	<section id="main">
		{{> Template.dynamic template=main}}	
	</section>
	{{> Template.dynamic template='footer'}}

</template>

<template name="layout">

	<span class="statusonline">{{>statusonline}}</span>
	
<!-- 	<section id="topbars" class="">
		<div class="containers-fluid">

	
		</div>

	</section>	 -->

	<section id="navsection" class="sidebar-fixed-left d-none d-sm-block animated slideOutLeft">
		{{> Template.dynamic template=nav}}
	</section>

	<section id="main" class="maincont mainSwipe container-fluid pb-5">
		<div class="row justify-content-between minheight70">
			<div id="bars" class="h2 menuClick slideInLeft col-auto m-1">
				<i class="fa fa-bars p-1 d-block d-sm-none "></i>
			</div>
			{{#with newContact}}
				<div id="notification" class="h2 col-auto m-1 align-self-center">
					<a class="{{isActiveRoute 'adminpage'}} animated fadeInTop" href="/adminpage?get=contacts"><i class="fa fa-fw fa-bullhorn text-red animated tada infinite" aria-hidden="true" data-toggle="tooltip" title="You ve got mail!"></i></a>
				</div>
			{{/with}}
			<div class="col-auto align-self-end">
				<div class="row">
					{{> Template.dynamic template='currenttimer'}}				
				</div>
			</div>					
		</div>			
		{{> Template.dynamic template=main}}		
	</section>
	{{> Template.dynamic template='footer'}}
</template>
