<template name="layoutLanding">

	<span class="statusonline">{{>statusonline}}</span>	

	{{> Template.dynamic template=nav}}
	
	<section id="main">
		{{> Template.dynamic template=main}}	
	</section>
	{{> Template.dynamic template='footer'}}

</template>

<template name="layout">

	<span class="statusonline">{{>statusonline}}</span>
	
<!-- 	<section id="topbars" class="">
		<div class="containers-fluid">

	
		</div>

	</section>	 -->

	<section id="navsection" class="sidebar-fixed-left d-none d-sm-block animated">
		{{> Template.dynamic template=nav}}
	</section>

	
	<section id="topmenu" class="">		
		<div class="p-1 minheight70">
			<div id="bars" class="barstop d-inline-block h2 m-1 menuClick slideInLeft">
				<i class="fa fa-bars p-1 d-block d-sm-none "></i>
			</div>
			{{#with newContact}}
				<div id="notification" class="h3 col-auto m-1 align-self-center">
					<a class="{{isActiveRoute 'adminpage'}} animated fadeInTop" href="/adminpage?get=contacts"><i class="fa fa-fw fa-bullhorn text-red animated tada infinite" aria-hidden="true" data-toggle="tooltip" title="You ve got mail!"></i></a>
				</div>
			{{/with}}
			<div class="container-fluid">
				<div class="row justify-content-end">
					{{> Template.dynamic template='currenttimer'}}				
				</div>
			</div>					
		</div>	
	</section>
	<section id="main" class="maincont mainSwipe pb-5">	
		<div class="container-fluid ">
			{{> Template.dynamic template=main}}		
		</div>
	</section>
	{{> Template.dynamic template='footer'}}
</template>

<template name="layoutSign">

	<span class="statusonline">{{>statusonline}}</span>
		
	<section id="main" class="">	
		<div class="container-fluid ">
			{{> Template.dynamic template=main}}		
		</div>
	</section>
	{{> Template.dynamic template='footer'}}
</template>
