.chartC3{
	max-height: 50px;
}
.c3-line {
    stroke-width: 5px;
}
/* .domain {
    stroke-width: 5px;
} */
.chartC3 .tick text{
	display: none !important;
}
.c3-axis .tick line {display: none;}